{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{{ 'custom-footer.css' | asset_url | stylesheet_tag }}
{{ 'custom-footer.js' | asset_url | script_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer">
    <div class="footer__content-top" page-width>
        {%- if section.blocks.size > 0 -%}
            {%- assign footer_grid_class = '' -%}
            {%- if section.blocks.size == 9 -%}
                {%- assign footer_grid_class = 'grid--3-col-tablet' -%}
            {%- elsif section.blocks.size > 6 -%}
                {%- assign footer_grid_class = 'grid--4-col-desktop' -%}
            {%- elsif section.blocks.size > 4 -%}
                {%- assign footer_grid_class = 'grid--3-col-tablet' -%}
            {%- endif -%}

            <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
                <div class="footer__heading-wrapper">
                    <h2 class="footer__heading">{{ section.settings.custom_heading }}</h2>
                    <p class="footer__subheading">{{ section.settings.custom_subheading }}</p>
                </div>

                {% for block in section.blocks %}
                    <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {{ block.shopify_attributes }}
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                        {% endif %}
                      >
                      {%- if block.settings.heading != blank -%}
                            <h2 class="footer-block__heading accordion-heading">
                                {{ block.settings.heading }}<span class="accordion-icon">+</span>
                            </h2>
                        {% endif %}
                      {%- if block.settings.menu != blank -%}
                            <ul class="footer-block__details-content list-unstyled accordion-content">
                                {% for link in block.settings.menu.links %}
                                    <li>
                                        <a href="{{ link.url }}" class="link link--text list-menu__item{% if link.active %} list-menu__item--active{% endif %}">
                                            {{ link.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                      {% endif %}
                        </div>
                {% endfor %}
            </div>
          {% if section.settings.show_social %}
                    <div class="footer__list-social">
                        {% render 'social-icons' %}
                    </div>
                {% endif %}
        {%- endif -%}
    </div>

        <div class="footer__column footer__column--info">
            {% if section.settings.payment_enable %}
                <div class="footer__payment">
                    <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                    <ul class="list list-payment" role="list">
                        {% for type in shop.enabled_payment_types %}
                            <li class="list-payment__item">
                                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
</footer>

{% schema %}
{
  "name": "Custom Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Quick links",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "custom_heading",
      "label": "Custom Heading",
      "default": "Your Custom Heading"
    },
    {
      "type": "text",
      "id": "custom_subheading",
      "label": "Custom Subheading",
      "default": "Your Custom Subheading"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show Social Icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "label": "Enable Payment Icons",
      "default": true
    }
  ]
}
{% endschema %}

