{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
<div>
<footer class="footer">
  <div class="width">
    <div class ="footer-top">
                <div>
                  <h1>{{ section.settings.text_1 }}</h1>
                  <h3>{{ section.settings.text_2}}</h3>
                          {% for block in section.blocks %}
                            {% if block.type =='navigation' %}
                              <div class ="footer-column-navigation">
                                <h2>{{ block.settings.linklist.title }} </h2>
                                {% for link in block.settings.linklist.links %}
                                  <li><a href = "{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                              </div>
                              {% elsif block.type == 'News-letter' %}
                               <div class ="footer-column-newsletter">
                                <h2>{{ block.settings.heading_n }} </h2>
                                    <p>{{ block.settings.text-n }}</p>
                                 <form>
                                   <input type= "email" placeholder = "Email address">
                                   <button type="submit"> Subcribe</button>
                                 </form>
                              </div>
                              {% elsif block.type == 'text'%}
                               <div class ="footer-column-text">
                                <h2>{{ block.settings.heading }} </h2>
                                    <p>{{ block.settings.text }}</p>
                                 
                              </div>
                            {% endif %}
                          {% endfor %}
                </div>
    </div>
    <div class ="footer-bottom" >
         {{ section.settings.copyright }}
              {%-liquid assign has_social_icons = true
                if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
                  assign has_social_icons = false
                endif -%}
               <div>
        
            {%- if section.settings.payment_enable -%}
               
                  <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                  <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                      <li class="list-payment__item">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                      </li>
                    {%- endfor -%}
                  </ul>
               
              {%- endif -%}
      </div>
          <div>
            {%- if section.settings.show_social and has_social_icons -%}
                {%- render 'social-icons', class: 'footer__list-social' -%}
            {%- endif -%}
          </div>
    </div>
  </div>
</footer>

</div>
{% schema %}
  {
    "name": "custom footer",
    "settings": [
      {
        "type": "text",
        "id": "text_1",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Sub_heading"
      },
      {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Social Icons"
      },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
      {
      "type": "text",
      "id": "copyright",
      "label": "copyright"
    }

    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name":"Newsletter",
        "type": "News-letter",
        "settings": [
          {
            "id":"heading_n",
            "type": "text",
            "label": "Heading text"
          },
          {
            "id":"text-n",
            "type": "richtext",
            "label": "Bodytext"
          }
          
        ]
      },
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "id":"heading",
            "type": "text",
            "label": "Heading text"
          },
          {
            "id":"text",
            "type": "richtext",
            "label": "Bodytext"
          }
        ]
      },
      {
        "name": "navgation column",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "linklist",
            "label": "navigation menu"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
    *{
        margin:0;
        padding:0;  
        box-sizing: border-box;
      }
      *body{
        background:#f6f6f6;
        color:#111;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .footer{
        background-color: #fff;
        padding: 60px 0;
      
      }
      .footer-top {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display:flex;
        flex-direction: column;
        gap:40px;
      }
      
      .active, .footer-top:hover {
        background-color: #ccc; 
      }
      
      li{
        list-style:none;
      }
      a{
        text-decoration:none ;
      }
      .width{
        max-width:1100px;
        margin:0 auto;
        width : 90%;
      }
      .footer-column h2{
        font-size:13px;
        text-transform:uppercase;
        font-weight:400;
        letter-spacing:1px;
        margin-bottom:20px;
      }
      .footer-column p,
      .footer-column a{
        color: #666;
      }
      .footer-column li + li {
        margin-top: 10px;
        font-size: 14px;
      
      }
      .footer-column a:hover {
        color: #111;
      }
      
      .footer-column a{
        transition: 0.2s color;
      }
      .footer-column.footer-column-newsletter form{
        margin-top: 20px;
      }
      .footer-column.footer-column-newsletter input,
      .footer-column.footer-column-newsletter button{
        appearance: none;
        outline: none;
        line-height: 50px;
        padding: 0 16px;
      }
      .footer-column.footer-column-newsletter input{
        display: block;
        width: 100%;
        border: 1px solid #ddd;
      }
      .footer-column.footer-column-newsletter button{
        appearance: none;
        display: inline-block;
        background:#111;
        color: #fff;
        padding: 0 32px;
      }
      
      
</style>