{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="footer__content-top">
        <div class="footer__heading-wrapper">
            <h2 class="footer__heading">{{ section.settings.custom_heading }}</h2>
            <p class="footer__subheading">{{ section.settings.custom_subheading }}</p>
        </div>

        {%- if section.settings.menu != blank -%}
            <ul class="footer-block__details-content list-unstyled">
                {%- for link in section.settings.menu.links -%}
                    <li>
                        <a href="{{ link.url }}" class="link link--text">{{ link.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif -%}

        {%- if section.settings.show_social -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
        {%- endif -%}
    </div>

    <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
            <div class="footer__payment">
                <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                        <li class="list-payment__item">
                            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        {%- endif -%}
    </div>
</footer>


{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "text",
      "id": "custom_heading",
      "label": "Custom Heading",
      "default": "Your Custom Heading"
    },
    {
      "type": "text",
      "id": "custom_subheading",
      "label": "Custom Subheading",
      "default": "Your Custom Subheading"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label",
      "info": "t:sections.footer.blocks.link_list.settings.menu.info"
    }
  ]
}
{% endschema %}